<div class="page">

    <h2>My To-do List</h2>

    <!-- ------------------------------- -->
    <!-- BOUTON CREER une nouvelle tâche -->
    <!-- ------------------------------- -->
    <div>
        <form>
            <label for="taskInput">New task : </label>
            <div>
                <input type="text" #taskName required />
                <button type="button" class="add-button" (click)="add(taskName.value); taskName.value=''">ADD</button>
            </div>
        </form>
    </div>


    <!-- ------------------------------- -->
    <!-- ------- LISTE DE TACHES ------- -->
    <!-- ------------------------------- -->
    <div>
        <ul class="tasks">
            <!--
                *ngFor : parcourir un tableau 
                [class.selected] : attribuer une classe(css) pour la tâche sélectionnée  
                (click) : écouter le clic
                -->
            <li *ngFor="let task of tasks">
                <a routerLink="/detail/{{task.id}}">
                    <span class="badge">{{task.id}}</span> {{task.name}}
                </a>
                <button type="button" class="deleteButton" (click)="delete(task)">X</button>
            </li>


            <!--  ------ ANCIEN CODE SANS LE ROUTEUR ------
                <li *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
                <span class="badge">{{task.id}}</span> {{task.name}} <br />
                <p>{{task.description}}</p>
            </li> -->

        </ul>
    </div>

    <!-- ----- ANCIEN CODE SANS LE ROUTEUR ----- -->
    <!-- ------------------------------- -->
    <!-- SELECTION ET DETAIL D'UNE TACHE -->
    <!-- ------------------------------- -->
    <!-- [task]="selectedTask" est une liaison de propriété Angular -->
    <!-- <app-task-detail [task]="selectedTask"></app-task-detail> -->

</div>