<!-- *ngIf - Si une tâche est sélectionnée -->
<div *ngIf="task">
    <h2>{{task.name | uppercase}}</h2>
    <p>Détails :</p>
    <div><span>id: </span>{{task.id}}</div>
    <div>
        <div><label>name:</label></div>
        <input [(ngModel)]="task.name" />
    </div>
    <div>
        <div><label>description:</label></div>
        <textarea>{{task.description}}</textarea>
    </div>
    <button name="updateTaskButton" (click)="onUpdate(task)">Update</button>
    <!-- <button class="deleteButton" name="deleteTaskButton" (click)="delete(task)">Delete</button> -->

    <div>
        <button type="button" (click)="goBack()">BACK</button>
    </div>

</div>